<?xml version="1.0" encoding="UTF-8"?>
<projects>
    <project>/mnt/c/Users/Alina/Downloads/VTM_diagram/Sum2Numbers.jdtp</project>
    <project>/mnt/c/Users/Alina/Downloads/VTM_diagram/Lab6.jdtp</project>
    <project>/mnt/c/Users/Alina/Downloads/VTM_diagram/LR6.jdtp</project>
    <project>/mnt/c/Users/alina/Downloads/VTM_diagram/LR6.jdtp</project>
</projects>
